/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --accent-color: #ff006f;
  --color-hover: rgb(255 0 112 / 0.4);
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: url("../images/cover-image-dark.png");
}

.page.theme_auto {
  background-image: url("../images/cover-image-dark.png");
}
