/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
}

.page.theme_dark {
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: url("../images/cover-image-dark.png");
}

.page.theme_auto {
  background-image: url("../images/cover-image-dark.png");
}
