/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --bg-color-light-theme: #fff1f7;
  --accent-color-light-theme: #ff8dcb;
  --text-color-light-theme: #353430;
  --title-color-light-theme: #ffc2e6;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color-light-theme: #fff1f7;
    --accent-color-light-theme: #ff8dcb;
    --text-color-light-theme: #353430;
    --title-color-light-theme: #ffc2e6;
  }

  .page.theme_auto {
    color: var(--text-color-light-theme);
    background-color: var(--bg-color-light-theme);
    background-image: url("../images/cover-image-light.png");
  }

  .page.theme_auto .header__rec-text {
    display: none;
  }

  .page.theme_auto .header__rec {
    border-color: var(--text-color-light-theme);
  }

  .page.theme_auto .header__theme-menu-button {
    color: var(--text-color-light-theme);
  }

  .page.theme_auto .header__theme-menu-button:hover {
    border: 1px solid var(--text-color-light-theme);
  }

  .page.theme_auto .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color-light-theme);
  }

  .page.theme_auto .header__theme-menu-button:disabled {
    border: 1px solid var(--text-color-light-theme);
  }

  .page.theme_auto .header__title {
    color: var(--title-color-light-theme);
    text-shadow: 4px 4px 0 var(--accent-color-light-theme);
  }

  .page.theme_auto .header__text {
    color: inherit;
    background-color: var(--accent-color-light-theme);
  }

  .page.theme_auto .section__title {
    color: var(--text-color-light-theme);
  }

  .page.theme_auto .section__card-title {
    color: inherit;
    background-color: var(--accent-color-light-theme);
  }

  .page.theme_auto .footer__title {
    color: var(--title-color-light-theme);
    text-shadow: 2px 2px 0 var(--accent-color-light-theme);
  }
}

.page.theme_light {
  color: var(--text-color-light-theme);
  background-color: var(--bg-color-light-theme);
  background-image: url("../images/cover-image-light.png");
}

.page.theme_light .header__rec-text {
  display: none;
}

.page.theme_light .header__rec {
  border-color: var(--text-color-light-theme);
}

.page.theme_light .header__theme-menu-button {
  color: var(--text-color-light-theme);
}

.page.theme_light .header__theme-menu-button:hover {
  border: 1px solid var(--text-color-light-theme);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color-light-theme);
}

.page.theme_light .header__theme-menu-button:disabled {
  border: 1px solid var(--text-color-light-theme);
}

.page.theme_light .header__title {
  color: var(--title-color-light-theme);
  text-shadow: 4px 4px 0 var(--accent-color-light-theme);
}

.page.theme_light .header__text {
  color: inherit;
  background-color: var(--accent-color-light-theme);
}

.page.theme_light .section__title {
  color: var(--text-color-light-theme);
}

.page.theme_light .section__card-title {
  color: inherit;
  background-color: var(--accent-color-light-theme);
}

.page.theme_light .footer__title {
  color: var(--title-color-light-theme);
  text-shadow: 2px 2px 0 var(--accent-color-light-theme);
}
